 <h2>User info</h2>
    <table class='table'>
      <tr>
      <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: 'no_image.jpg',size:'100x100',class: 'img profile_image' %>
      </tr>
      <tr>
        <div class='filed'>
        <th><label for='user_name'>name</label></th>
        <th><%= user.name %></th>
        </div>
      </tr>
      <tr>
        <div class='filed'>
        <th><label for='user_introduction'>introduction</label></th>
        <th><%= user.introduction %></th>
        </div>
      </tr>
    </table>
    <div class='row'>
      <div class='actions'>
      <%= link_to edit_user_path(current_user.id), class:'btn btn-default col-xs-12' do %>
      <i class='glyphicon glyphicon-wrench'></i>
      <% end %>
      </div><br/>
    </div>

  <h2>New book</h2><br/>
    <%= form_for(book) do |f| %>
      <div class='filed row'>
        <label for='book_title'>Title</label>
        <%= f.text_field :title,class:'col-xs-12' %>
      </div></br>
      <div class='filed row'>
        <label for='book_body'>Opinion</label>
        <%= f.text_area :body,class:'col-xs-12' %>
      </div></br>
      <div class="actions row">
        <%= f.submit 'Create Book',class:'col-xs-12 btn btn-primary' %>
      </div></br>
    <% end %>